body {
  background-image: url(./image/educatedyouth.png);
  /* background-image: linear-gradient(to top, rgb(0, 137, 107), rgba(255, 77, 0, 0.9)); */
  background-repeat: no-repeat;
  overflow: hidden;
  margin: auto;
  padding: 5rem;
}